.user-id{
    font-weight: bold;
    font-size: 32px;
}


.username{
    font-size: 65px;
    color: green;
}

.user-details {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    ul li {
        color: red;
    }
}